* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 100px;
    background-color: black;
    display: block;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.container {
    height: 100%;
    display: table;
    float: left;
    
}

.container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
}

.menu{
    height: 100%;
    float: right;
}

.menu a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.menu a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 150%;
}

.menu a li:hover {
    color: red
}

.esindus {
    padding-top: 50px;
    padding-left: 20px;
    width: 1000px;
    height: 300px;
}

.vasak_tulp {
    float: left;
    margin-right: 20px;
}

.parem_tulp {
    padding-left: 20px;
    font-size: 130%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}